.product-card{
   width: 20em;
   padding: 0;
   margin-right: 3px;
   margin-left: 3px;
   margin-bottom: 24px;
}
.product-card img{
   height: 200px;
   width: 100%;
   object-fit: cover;
}
.product .row{ 
   margin: 0px;
   padding: 0;
}
.product-col{
   padding:0px;
}

.product-row{
   margin-bottom:24px;
}

.detail img{
   width: auto;
   object-fit: cover;
}
.page-card.product{
   min-height: 800px;
}
.product-card .badge{
   margin: 6px;
   font-size: small;
   background: rgba(255,255,255,0.5);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   border: 1px solid rgba(255,255,255,0.25);
   color: black;  
}
.badge-list{
   position: absolute;
}
/* .Stone-badge{
   background: rgba(255,255,255,0.5);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border: 1px solid rgba(255,255,255,0.25);
}
.Machine-badge{
   background: rgba(255,255,255,0.5);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border: 1px solid rgba(255,255,255,0.25);
}
.Construction-badge{
   background-color: rgb(40, 103, 40);
}
.Drill-badge{
   background-color: rgb(128, 0, 100);
} */
