.product-card{
   width: 20em;
   padding: 0;
   margin-right: 6px;
   margin-left: 6px;
   margin-bottom: 24px;
}
.product-card img{
   height: 200px;
   width: 100%;
   object-fit: cover;
}
.product .row{ 
   margin: 0px;
   padding: 0;
}
.product-col{
   padding:0px;
}

.product-row{
   margin-bottom:24px;
}

.detail img{
   height: 300px;
   object-fit: cover;
}
.page-card.product{
   min-height: 800px;
}